.root {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 1.5rem;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .root {
    padding: 1rem;
    gap: 1rem;
  }
}
